@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.body-header__logo, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-bottom:before {
  content: "\e900";
}

._icon-cart:before {
  content: "\e901";
}

._icon-compare:before {
  content: "\e902";
}

._icon-email:before {
  content: "\e903";
}

._icon-favorite:before {
  content: "\e904";
}

._icon-location:before {
  content: "\e905";
}

._icon-logo:before, .body-header__logo:before {
  content: "\e906";
}

._icon-phone:before {
  content: "\e907";
}

._icon-rub:before {
  content: "\e908";
}

._icon-search:before {
  content: "\e909";
}

._icon-star:before {
  content: "\e90a";
}

._icon-user:before {
  content: "\e90b";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 99.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}
.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__body {
  background-color: #ECF1F2;
}
.top-header {
  background-color: #141414;
  color: #fff;
  padding: 0.625rem 0;
}
.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  min-height: 3.125rem;
}
.top-header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.top-header__user {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  line-height: 1.2222222222;
}
.top-header__user::before {
  font-size: 1.75rem;
  margin-right: 0.5357142857em;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.75rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.25;
  row-gap: 0.3125rem;
}
@media (min-width: 101.25em) {
  .menu__list {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 101.25em) {
  @supports ((-moz-column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem )) or (column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem );
         -moz-column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem );
              column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem )) or (column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 81.25);
         -moz-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 81.25);
              column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 81.25);
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
.menu__link {
  font-style: 1rem;
}

.body-header {
  padding: 0.625rem 0;
  background-color: #ecf1f2;
}
.body-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 4.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body-header__logo {
  font-size: 2.625rem;
  color: #141414;
}
.body-header__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 1.25rem;
}
@media (min-width: 101.25em) {
  .body-header__search {
    padding-left: 9.875rem;
  }
}
@media (min-width: 20em) and (max-width: 101.25em) {
  @supports (padding-left: clamp( 1.25rem , -0.8730769231rem  +  10.6153846154vw , 9.875rem )) {
    .body-header__search {
      padding-left: clamp( 1.25rem , -0.8730769231rem  +  10.6153846154vw , 9.875rem );
    }
  }
  @supports not (padding-left: clamp( 1.25rem , -0.8730769231rem  +  10.6153846154vw , 9.875rem )) {
    .body-header__search {
      padding-left: calc(1.25rem + 8.625 * (100vw - 20rem) / 81.25);
    }
  }
}
@media (max-width: 20em) {
  .body-header__search {
    padding-left: 1.25rem;
  }
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}
.actions-header__location {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  margin: 0 1.5625rem 0 0;
}
.actions-header__location::before {
  font-size: 1.5rem;
  margin: 0 0.4166666667em 0 0;
}
.actions-header__favorite {
  font-size: 1.6875rem;
}
.actions-header__cart {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.search-header {
  max-width: 23.5625rem;
  background-color: rgba(7, 7, 7, 0.03);
  border-radius: 0.1875rem;
  position: relative;
  border: 1px solid rgba(4, 4, 4, 0.5);
}
.search-header__button {
  position: absolute;
  background-color: transparent;
  height: 2.5625rem;
  width: 2.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0.5rem;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
}
.search-header__input {
  width: 100%;
  background-color: transparent;
  border-radius: 0.1875rem;
  height: 2.5625rem;
  color: #000;
  padding: 0 1.25rem 0 3.125rem;
}
.search-header__input::-webkit-input-placeholder {
  color: rgba 0, 0, 0, 0.5;
}
.search-header__input::-moz-placeholder {
  color: rgba 0, 0, 0, 0.5;
}
.search-header__input:-ms-input-placeholder {
  color: rgba 0, 0, 0, 0.5;
}
.search-header__input::-ms-input-placeholder {
  color: rgba 0, 0, 0, 0.5;
}
.search-header__input::placeholder {
  color: rgba 0, 0, 0, 0.5;
}

.phones-header__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.phones-header__phone {
  font-weight: 600;
  line-height: 1.2222222222;
  white-space: nowrap;
}
.phones-header__arrow {
  color: #e8aa31;
  font-size: 0.625rem;
  margin: 0 0 0 1.0625em;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.phones-header__arrow._spoller-active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.phones-header__list {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background-color: #fff;
  padding: 0.9375rem;
  border-radius: 0.625rem;
  margin: 0.3125rem 0 0 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.phones-header__list li:not(:last-child) {
  margin-bottom: 0.2777777778em;
}
.phones-header__callback {
  color: #e8aa31;
  font-weight: 700;
  line-height: 1.2222222222;
  margin: 0.1875rem 0 0 0;
}

.cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-header__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37px;
          flex: 0 0 37px;
  font-size: 2.1875rem;
  position: relative;
}
.cart-header__icon span {
  position: absolute;
  width: 0.875rem;
  height: 0.875rem;
  background: #e8aa31;
  font-size: 0.625rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-header__body {
  font-size: 1rem;
  line-height: 1.25;
}
.cart-header__sum {
  font-weight: 500;
}
.cart-header__sum:not(:last-child) {
  margin-bottom: em 5, 16;
}
.cart-header__link {
  color: #e8aa31;
}

.catalog-header {
  background-color: #141414;
  color: #fff;
  position: relative;
}
.menu-catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-catalog__link {
  min-height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 0.625rem;
  position: relative;
}
.menu-catalog__link::after {
  content: "";
  position: absolute;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  left: 0.625rem;
  width: calc(100% - 1.25rem);
  height: 1px;
  background-color: #e8aa31;
}
.menu-catalog__sub-menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  background-color: #141414;
}

.sub-menu-catalog__block {
  padding: 0 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sub-menu-catalog__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.sub-menu-catalog__category {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 700;
}
.sub-menu-catalog__all {
  color: #e8aa31;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}